

body
{
    background-color: rgba(255, 210, 200,.5);
    border-style: solid;
    border-color: black;
}

.h1
{
    color: red;
    font-family: Agency FB;
    font-size: 70px;
    text-align: center;
}

